@model OnlineShop.Models.ProductTypes
@{
    ViewData["Title"] = "Details";
}
<br />




<form asp-action="Details" method="post">

    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">

            <h5 class="text-info">Product Catagory Details</h5>
            <div class="p-4 rounded border">
                <div asp-validation-summary="ModelOnly" class="text-danger">
                </div>

                <dl class="row">
                    <dt class="col-lg-6">
                        @Html.DisplayNameFor(model => model.ProductType)
                    </dt>
                    <dd class="col-lg-6">
                        @Html.DisplayFor(model => model.ProductType)
                    </dd>

                </dl>



                <div class="form-group">

                
                    <a type="button" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>

                    <a asp-action="Index" class="btn btn-success">Back to List</a>

                </div>
            </div>

        </div>
        <div class="col-lg-3"></div>
    </div>

   
</form>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<br />
@* 
<div>
    <h4>PersonInfo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductType)
        </dd>
       
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
 *@

