@using OnlineShop.Models
@model IEnumerable<ProductTypes>

@{
}

<br/>

<div class="row"> 

    <div class="col-lg-2">   </div>
    <div class="col-lg-8">
        <h3 class="text-info text-center"> Product Catagory List</h3>
        <div class="text-right mb-10">
            <a asp-action="Create" class="btn btn-info"><i class="fa-solid fa-plus"></i> New Catagory  </a>
        <br />
        </div>
        <div>
            <table class="table table-striped border">
                <tr class="table-info">

                    <th>
                        @Html.DisplayNameFor(c => c.ProductType)
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>

                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ProductType</td>
                        <td> <p>    </p></td>
                        <td>
                            <partial name="_ButtonView" model="@item.Id" />
                        </td>
                    </tr>
                }
            </table>
        </div>

    </div>
    <div class="col-lg-2">   </div>


</div>

<br />





@* TempData["delete"] = "Product type has been deleted"; *@

 @section scripts{
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/alertify.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var save = '@TempData["save"]'
            if (save != '') {
                alertify.success(save);
            }
            var edit = '@TempData["edit"]'
            if (edit != '') {
                alertify.success(edit);
            }
            var del = '@TempData["delete"]'
            if (del != '') {
                alertify.error(del);
            }
        })
    </script>

}