@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}



<style>
    /* Custom CSS */
    .wide-input {
        width: 100%;
    }

    .wide-button {
        width: 100%;
    }
</style>



<div class="container-fluid">
    <div class="card text-black m-5" style="border-radius: 25px;">
        <div class="card-body">
            <div class="row">
                <div class="col-md-10 col-lg-6 order-2 order-lg-1 d-flex flex-column align-items-center">

                    <form method="post">
                        <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Login </p>
                 
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" class="form-control" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Password"></label>
                            <input asp-for="Input.Password" class="form-control" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label asp-for="Input.RememberMe">
                                    <input asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary   mb-4 wide-button">Log in</button>
                        </div>
                        <div class="form-group">
                            <p>
                                <a class="btn btn-default" asp-page="./ForgotPassword">Forgot your password?</a>
                            </p>
                            <p>
                                <a asp-page="./Register" class="btn btn-info" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                            </p>
                        </div>
                    </form>



                </div>

                <div class="col-md-10 col-lg-6 order-1 order-lg-2">
                    <div class="signup-image text-center">
                        <figure><img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp" alt="sing up image" style="height:250px; width:100%"></figure>
                       
                    </div>
                    <div class="text-center mt-4">
                        <h4>Login with Other service </h4>
                        <div class="mt-4">
                            <a href="#" class="btn btn-danger mb-3"><i class="fa-brands fa-google"></i> Google</a>
                            <a href="#" class="btn btn-primary mb-3"> <i class="fa-brands fa-facebook"> </i> Facebook</a>
                            <a href="#" class="btn btn-success mb-3"> <i class="fa-brands fa-microsoft"></i>Microsoft </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



    <div class="col-md-6 col-md-offset-2">
        <section>
            @* <h4>Use another service to log in.</h4> *@
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                  
                }
                else
                {
                    <form asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-default" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>




<!-- Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>






@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
