@using OnlineShop.Models;
@model X.PagedList.IPagedList<Products>
@using X.PagedList.Mvc.Core


@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager

@{
    string userId = UserManager.GetUserId(User);
}
﻿@using System.Net.Http
@using OnlineShop.Session
@using Microsoft.AspNetCore.Http

@inject IHttpContextAccessor HttpContextAccessor
@{
    var userRole = HttpContextAccessor.HttpContext.Session.GetString("roleName");
    int count = 0;
    List<Products> products = HttpContextAccessor.HttpContext.Session.Get<List<Products>>("products");
    if (products == null)
    {
        products = new List<Products>();
    }
    count = products.Count();

}



<!--header center area start-->
<div class="header_middle">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3">
                <div class="logo">
                    <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/logo/online-shoping.png" style="height: 50px; width: 60%;" alt=""></a>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="header_middle_inner">
                    <div class="search-container">
                        <form method="post" action="#">
                            <div class="hover_category">
                                <select class="select_option" name="select" id="categori">
                                    <option selected value="1">All Categories</option>
                                    <option value="2">Accessories</option>
                                    <option value="3">Accessories & More</option>
                                    <option value="4">Butters & Eggs</option>
                                    <option value="5">Camera & Video </option>
                                    <option value="6">Mornitors</option>
                                    <option value="7">Tablets</option>
                                    <option value="8">Laptops</option>
                                    <option value="9">Handbags</option>
                                    <option value="10">Headphone & Speaker</option>
                                    <option value="11">Herbs & botanicals</option>
                                    <option value="12">Vegetables</option>
                                    <option value="13">Shop</option>
                                    <option value="14">Laptops & Desktops</option>
                                    <option value="15">Watchs</option>
                                    <option value="16">Electronic</option>
                                </select>
                            </div>
                            <div class="search_box">
                                <input placeholder="Search product..." type="text" name="SearchString">
                                <button type="submit"><i class="zmdi zmdi-search"></i></button>
                            </div>
                        </form>
                    </div>


                    <div>
                        
                        <!--mini cart-->
                        <div >
                            <div>
                                <a asp-area="Customer" asp-controller="Home" asp-action="Cart"><i class="fas fa-shopping-cart fa-2x "></i> </a>
                            
                            </div>


                        </div>
                        <!--mini cart end-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--header center area end-->
<!--header middel start-->
<div class="header_bottom sticky-header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12">
                <div class="main_menu header_position">
                    <nav>
                        <ul>

                            <li>
                                 <a asp-area="" asp-controller="Home" asp-action="Index"><i class="zmdi zmdi-home"></i> home <i class="zmdi zmdi-caret-down"></i></a>

                            </li>
                            <li class="mega_items active">
                                <a href="shop.html"><i class="zmdi zmdi-shopping-basket"></i> shop <i class="zmdi zmdi-caret-down"></i></a>
                                <div class="mega_menu">
                                    <ul class="mega_menu_inner">
                                        <li>
                                            <a href="#">Shop Layouts</a>
                                            <ul>
                                                <li><a href="shop-fullwidth.html">Full Width</a></li>
                                                <li><a href="shop-fullwidth-list.html">Full Width list</a></li>
                                                <li><a href="shop-right-sidebar.html">Right Sidebar </a></li>
                                                <li><a href="shop-right-sidebar-list.html"> Right Sidebar list</a></li>
                                                <li><a href="shop-list.html">List View</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">other Pages</a>
                                            <ul>
                                                <li><a href="cart.html">cart</a></li>
                                                <li><a href="wishlist.html">Wishlist</a></li>
                                                <li><a href="checkout.html">Checkout</a></li>
                                                <li><a href="my-account.html">my account</a></li>
                                                <li><a href="404.html">Error 404</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Product Types</a>
                                            <ul>
                                                <li><a href="product-details.html">product details</a></li>
                                                <li><a href="product-sidebar.html">product sidebar</a></li>
                                                <li><a href="product-grouped.html">product grouped</a></li>
                                                <li><a href="variable-product.html">product variable</a></li>

                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="blog.html"><i class="zmdi zmdi-collection-music"></i> blog <i class="zmdi zmdi-caret-down"></i></a>
                                <ul class="sub_menu pages">
                                    <li><a href="blog-details.html">blog details</a></li>
                                    <li><a href="blog-fullwidth.html">blog fullwidth</a></li>
                                    <li><a href="blog-sidebar.html">blog sidebar</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><i class="zmdi zmdi-star"></i> pages <i class="zmdi zmdi-caret-down"></i></a>
                                <ul class="sub_menu pages">
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="services.html">services</a></li>
                                    <li><a href="portfolio.html">portfolio</a></li>
                                    <li><a href="faq.html">Frequently Questions</a></li>
                                    <li><a href="contact.html">contact</a></li>
                                    <li><a href="login.html">login</a></li>
                                    <li><a href="wishlist.html">Wishlist</a></li>
                                    <li><a href="404.html">Error 404</a></li>
                                </ul>
                            </li>

                            <li><a href="about.html"><i class="zmdi zmdi-comments"></i> about Us</a></li>
                            <li><a href="contact.html"><i class="zmdi zmdi-account-box-mail"></i>  Contact Us</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!--header middel end-->
<!--header area end-->
<!--Offcanvas menu area start-->

<div class="off_canvars_overlay">
</div>


<!--Offcanvas menu area start-->
<div class="off_canvars_overlay"></div>
<div class="Offcanvas_menu">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="canvas_open">
                    <span>MENU</span>
                    <a href="javascript:void(0)"><i class="ion-navicon"></i></a>
                </div>
                <div class="Offcanvas_menu_wrapper">
                    <div class="canvas_close">
                        <a href="javascript:void(0)">
                            <i class="ion-android-close"></i>
                        </a>
                    </div>
                    <div class="welcome_text">
                        <p>Welcome to <span> OnlineShop</span></p>
                    </div>
                    <div class="top_right">
                        <ul>
                            <li class="language">
                                <a href="#">
                                    <i class="zmdi zmdi-dribbble"></i> English1
                                    <i class="zmdi zmdi-caret-down"></i>
                                </a>
                                <ul class="dropdown_language">
                                    <li><a href="#">English</a></li>
                                    <li><a href="#">Bangla</a></li>
                                </ul>
                            </li>
                            @if (userId != null)
                            {
                                <li class="top_links">
                                    <a href="/Customer/UserProfile/Deshboard/@userId"><i class="zmdi zmdi-account"></i> My account <i class="zmdi zmdi-caret-down"></i></a>
                                    <ul class="dropdown_links">

                                        <li><a href="/Customer/UserProfile/Deshboard/@userId">My Account </a></li>
                                        <li> <a asp-area="Customer" asp-controller="Home" asp-action="Cart"><i class="fas fa-shopping-cart"></i> (@count) Cart</a></li>
                                        <li><a href="wishlist.html">Wishlist</a></li>
                                        <li><a href="wishlist.html">Wishlist</a></li>
                                    </ul>
                                </li>
                            }
                            else
                            {
                                <li><a asp-area="Identity" asp-page="/Account/Register">Register</a></li>
                                <li><a asp-area="Identity" asp-page="/Account/Login">Login</a></li>
                            }
                        </ul>
                    </div>
                    <div class="search-container">
                        <form method="post" action="#">
                            <div class="hover_category">
                                <select class="select_option" name="select" id="categori2">
                                    <option value="1">Laptops</option>

                                    <option value="2">Vegetables</option>

                                    <option value="3">Laptops & Desktops</option>

                                </select>
                            </div>
                            <div class="search_box">
                                <input placeholder="Search product..." name="SearchString" type="text" />
                                <button type="submit">
                                    <i class="zmdi zmdi-search"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="mini_cart_wrapper">
                        <a asp-area="Customer" asp-controller="Home" asp-action="Cart"><i class="fas fa-shopping-cart"></i> (@count) Cart</a>
                    </div>
                    <div id="menu" class="text-left">
                        <ul class="offcanvas_main_menu">
                            <li class="menu-item-has-children">
                                <a asp-area="" asp-controller="Home" asp-action="Products">Shop</a>
                                <ul class="sub-menu">

                                    @if (userId != null)
                                    {
                                        <li class="menu-item-has-children">
                                            <a href="#">other Pages</a>
                                            <ul class="sub-menu">
                                                <li> <a asp-area="Customer" asp-controller="Home" asp-action="Cart"><i class="fas fa-shopping-cart"></i> (@count) Cart</a></li>
                                                <li><a href="wishlist.html">Wishlist</a></li>

                                                <li><a href="/Customer/UserProfile/Deshboard/@userId">My Account </a></li>
                                                <li><a href="404.html">Error 404</a></li>
                                            </ul>
                                        </li>
                                    }
                                    <li class="menu-item-has-children">
                                        <a href="#">Product Types</a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="product-details.html">product details</a>
                                            </li>
                                            <li>
                                                <a href="product-sidebar.html">product sidebar</a>
                                            </li>
                                            <li>
                                                <a href="product-grouped.html">product grouped</a>
                                            </li>
                                            <li>
                                                <a href="variable-product.html">product variable</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">blog</a>
                                <ul class="sub-menu">
                                    <li><a href="blog.html">blog</a></li>
                                    <li><a href="blog-details.html">blog details</a></li>
                                    <li><a href="blog-fullwidth.html">blog fullwidth</a></li>
                                    <li><a href="blog-sidebar.html">blog sidebar</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">pages </a>
                                <ul class="sub-menu">
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="services.html">services</a></li>
                                    <li><a href="portfolio.html">portfolio</a></li>
                                    <li><a href="faq.html">Frequently Questions</a></li>
                                    <li><a href="contact.html">contact</a></li>

                                    <li><a href="wishlist.html">Wishlist</a></li>
                                    <li><a href="404.html">Error 404</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                @if (userId != null)
                                {
                                    <a href="/Customer/UserProfile/Deshboard/@userId">my account</a>
                                }
                            </li>
                            <li class="menu-item-has-children">
                                <a href="about.html">about Us</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="contact.html"> Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Offcanvas menu area end-->

<!--Offcanvas menu area end-->
<!--breadcrumbs area start-->
@*    <div class="breadcrumbs_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                         <ul>
                            <li><a href="index.html">home</a></li>
                            <li>Camera & Video </li>
                            <li>shop</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> *@
<!--breadcrumbs area end-->
<!--shop  area start-->
<div class="shop_area shop_reverse mt-50 mb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12">
                <!--sidebar widget start-->
                <aside class="sidebar_widget">

                    <div class="widget_list widget_categories">
                        <h2>categories</h2>
                        <ul>
                            <li>
                                <a href="#">Categories1 <span>(6)</span></a>
                            </li>
                            <li>
                                <a href="#">Categories2 <span>(10)</span></a>
                            </li>
                            <li>
                                <a href="#">Categories3 <span>(4)</span></a>
                            </li>
                            <li>
                                <a href="#">Categories4 <span>(10)</span></a>
                            </li>
                            <li>
                                <a href="#">Categories5 <span>(8)</span></a>
                            </li>

                        </ul>
                    </div>
                    <div class="widget_list widget_filter">
                        <h2>Filter by price</h2>
                        <form action="#">
                            <div id="slider-range"></div>
                            <input type="text" name="text" id="amount" />
                            <button type="submit">Filter</button>
                        </form>
                    </div>

                    <div class="widget_list">
                        <h2>Manufacturer</h2>
                        <ul>
                            <li>
                                <a href="#">Brake Parts <span>(6)</span></a>
                            </li>
                            <li>
                                <a href="#">Accessories <span>(10)</span></a>
                            </li>
                            <li>
                                <a href="#">Engine Parts <span>(4)</span></a>
                            </li>
                            <li>
                                <a href="#">hermes <span>(10)</span></a>
                            </li>
                            <li>
                                <a href="#">louis vuitton <span>(8)</span></a>
                            </li>

                        </ul>
                    </div>
                    <div class="widget_list">
                        <h2>Select By Color</h2>
                        <ul>
                            <li>
                                <a href="#">Black  <span>(6)</span></a>
                            </li>
                            <li>
                                <a href="#"> Blue <span>(8)</span></a>
                            </li>
                            <li>
                                <a href="#">Brown <span>(10)</span></a>
                            </li>
                            <li>
                                <a href="#"> Green <span>(6)</span></a>
                            </li>
                            <li>
                                <a href="#">Pink <span>(4)</span></a>
                            </li>

                        </ul>
                    </div>
                    <div class="widget_list recent_product">
                        <h2>Top Rated Products</h2>

                        <div class="recent_product_container">

                            @* style="height:270px; width:270px; margin:10px; border:5px" *@

                            @foreach (var product in Model)
                            {

                                <div class="recent_product_list">
                                    <div class="recent_product_thumb">
                                        <a asp-action="Detail" asp-controller="Home" asp-route-id="@product.Id"><img src="~/@product.Image" alt=""></a>
                                    </div>
                                    <div class="recent_product_content">
                                        <h3><a href="product-details.html">@product.Name</a></h3>
                                        <div class="product_rating">
                                            <ul>
                                                <li><a href="#"><i class="zmdi zmdi-star-outline"></i></a></li>
                                                <li><a href="#"><i class="zmdi zmdi-star-outline"></i></a></li>
                                                <li><a href="#"><i class="zmdi zmdi-star-outline"></i></a></li>
                                                <li><a href="#"><i class="zmdi zmdi-star-outline"></i></a></li>
                                                <li><a href="#"><i class="zmdi zmdi-star-outline"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="price_box">
                                            <span class="current_price">@product.Price Tk</span>

                                        </div>
                                    </div>
                                </div>

                            }


                        </div>
                    </div>

                </aside>
                <!--sidebar widget end-->
            </div>
            <div class="col-lg-9 col-md-12">
                <!--shop wrapper start-->
                <!--shop toolbar start-->

                <div class="shop_toolbar_wrapper">
                    <div class="shop_toolbar_btn">

                        <button data-role="grid_3" type="button" class="active btn-grid-3" data-bs-toggle="tooltip" title="3"></button>

                        <button data-role="grid_4" type="button" class=" btn-grid-4" data-bs-toggle="tooltip" title="4"></button>

                        <button data-role="grid_list" type="button" class="btn-list" data-bs-toggle="tooltip" title="List"></button>
                    </div>
                    <div class=" niceselect_option">

                        <form class="select_option" action="#">
                            <select name="orderby" id="short">

                                <option selected value="1">Sort by average rating</option>
                                <option value="2">Sort by popularity</option>
                                <option value="3">Sort by newness</option>
                                <option value="4">Sort by price: low to high</option>
                                <option value="5">Sort by price: high to low</option>
                                <option value="6">Product Name: Z</option>
                            </select>
                        </form>


                    </div>


                    <div class="page_amount">
                        @*      <p>Showing 1–9 of 21 results</p> *@
                    </div>
                </div>
                <!--shop toolbar end-->

                <div class="row no-gutters shop_wrapper">


                    @{
                        // Convert the discount percentage to a decimal value
                        decimal discountPercentage = 0.95m;
                    }


                    @foreach (var product in Model)
                    {


                        <div class="col-lg-4 col-md-4 col-12 ">
                            <div class="single_product" style="margin-top:5px; margin-bottom:5px; margin-left:5px; margin-right:5px; border-radius:5px">
                                <div class="product_thumb">
                                    <a asp-action="Detail" asp-controller="Home" asp-route-id="@product.Id"><img src="~/@product.Image" style="height:270px; width:270px; margin:10px; border:5px" alt=""></a>
                                    <div class="label_product">
                                        <span class="label_sale">sale</span>
                                    </div>

                                </div>
                                <div class="product_content grid_content">
                                    <div class="product_name">
                                        <h3><a href="product-details.html">@product.Name</a></h3>
                                    </div>
                                    <div class="product_rating">
                                        <ul>
                                            <li><a href="#"><i class="zmdi zmdi-star-outline"></i></a></li>
                                            <li><a href="#"><i class="zmdi zmdi-star-outline"></i></a></li>
                                            <li><a href="#"><i class="zmdi zmdi-star-outline"></i></a></li>
                                            <li><a href="#"><i class="zmdi zmdi-star-outline"></i></a></li>
                                            <li><a href="#"><i class="zmdi zmdi-star-outline"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="price_box">
                                        <span class="current_price">@((product.Price * discountPercentage).ToString("C"))</span>
                                        <span class="old_price">@product.Price.ToString("C")</span>

                                    </div>
                                    <div class="action_links">
                                        <ul>
                                            <li class="wishlist"><a href="wishlist.html" title="Add to Wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                                            <li class="add_to_cart"><a href="cart.html" title="add to cart"><i class="zmdi zmdi-shopping-cart-plus"></i> add to cart</a></li>
                                            <li class="compare"><a href="#" title="compare"><i class="zmdi zmdi-swap"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product_content list_content">
                                    <div class="product_name">
                                        <h3><a href="product-details.html">@product.Name</a></h3>
                                    </div>
                                    <div class="product_rating">
                                        <ul>
                                            <li><a href="#"><i class="zmdi zmdi-star-outline"></i></a></li>
                                            <li><a href="#"><i class="zmdi zmdi-star-outline"></i></a></li>
                                            <li><a href="#"><i class="zmdi zmdi-star-outline"></i></a></li>
                                            <li><a href="#"><i class="zmdi zmdi-star-outline"></i></a></li>
                                            <li><a href="#"><i class="zmdi zmdi-star-outline"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="price_box">
                                        <span class="current_price">@((product.Price * discountPercentage).ToString("C"))</span>
                                        <span class="old_price">@product.Price.ToString("C")</span>

                                    </div>
                                    <div class="action_links">
                                        <ul>
                                            <li class="wishlist"><a href="wishlist.html" title="Add to Wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                                            <li class="add_to_cart"><a href="cart.html" title="add to cart"><i class="zmdi zmdi-shopping-cart-plus"></i> add to cart</a></li>
                                            <li class="compare"><a href="#" title="compare"><i class="zmdi zmdi-swap"></i></a></li>
                                        </ul>
                                    </div>

                                    <div class="product_desc">
                                        <p> @product.Description  Lorem ipsum dolor sit amet, consectetur adipiscing elit.  </p>
                                    </div>
                                </div>
                            </div>



                        </div>

                    }

                </div>

                <div class="shop_toolbar t_bottom">
                    <div class="pagination">

                        @Html.PagedListPager(Model, page => Url.Action("Products", new { page, foo1Param = "1", foo2Param = "2"}))

                    </div>
                </div>
                <!--shop toolbar end-->
                <!--shop wrapper end-->
            </div>
        </div>
    </div>
</div>
<!--shop  area end-->
<!-- modal area start-->
<div class="modal fade" id="modal_box" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal_body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-12">
                            <div class="modal_tab">
                                <div class="tab-content product-details-large">
                                    <div class="tab-pane fade show active" id="tab1" role="tabpanel">
                                        <div class="modal_tab_img">
                                            <a href="#"><img src="~/img/product/product37.jpg" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tab2" role="tabpanel">
                                        <div class="modal_tab_img">
                                            <a href="#"><img src="~/img/product/product24.jpg" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tab3" role="tabpanel">
                                        <div class="modal_tab_img">
                                            <a href="#"><img src="~/img/product/product25.jpg" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tab4" role="tabpanel">
                                        <div class="modal_tab_img">
                                            <a href="#"><img src="~/img/product/product22.jpg" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal_tab_button">
                                    <ul class="nav product_navactive owl-carousel" role="tablist">
                                        <li>
                                            <a class="nav-link active" data-bs-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="false"><img src="~/img/product/productbig1.jpg" alt=""></a>
                                        </li>
                                        <li>
                                            <a class="nav-link" data-bs-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false"><img src="~/img/product/productbig2.jpg" alt=""></a>
                                        </li>
                                        <li>
                                            <a class="nav-link button_three" data-bs-toggle="tab" href="#tab3" role="tab" aria-controls="tab3" aria-selected="false"><img src="~/img/product/productbig4.jpg" alt=""></a>
                                        </li>
                                        <li>
                                            <a class="nav-link" data-bs-toggle="tab" href="#tab4" role="tab" aria-controls="tab4" aria-selected="false"><img src="~/img/product/productbig5.jpg" alt=""></a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-12">
                            <div class="modal_right">
                                <div class="modal_title mb-10">
                                    <h2>Handbag feugiat</h2>
                                </div>
                                <div class="modal_price mb-10">
                                    <span class="new_price">$64.99</span>
                                    <span class="old_price">$78.99</span>
                                </div>
                                <div class="modal_description mb-15">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia iste laborum ad impedit pariatur esse optio tempora sint ullam autem deleniti nam in quos qui nemo ipsum numquam, reiciendis maiores quidem aperiam, rerum vel recusandae </p>
                                </div>
                                <div class="variants_selects">
                                    <div class="variants_size">
                                        <h2>size</h2>
                                        <select class="select_option">
                                            <option selected value="1">s</option>
                                            <option value="1">m</option>
                                            <option value="1">l</option>
                                            <option value="1">xl</option>
                                            <option value="1">xxl</option>
                                        </select>
                                    </div>
                                    <div class="variants_color">
                                        <h2>color</h2>
                                        <select class="select_option">
                                            <option selected value="1">purple</option>
                                            <option value="1">violet</option>
                                            <option value="1">black</option>
                                            <option value="1">pink</option>
                                            <option value="1">orange</option>
                                        </select>
                                    </div>
                                    <div class="modal_add_to_cart">
                                        <form action="#">
                                            <input min="0" max="100" step="2" value="1" type="number">
                                            <button type="submit">add to cart</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="modal_social">
                                    <h2>Share this product</h2>
                                    <ul>
                                        <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li class="pinterest"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                        <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal area end-->
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $('.slider_area').owlCarousel({
                items: 1,
                loop: true,
                autoplay: true,
                autoplayTimeout: 5000, // 5 seconds
                autoplayHoverPause: false,
                nav: true,
                dots: false
            });
        });
    </script>
}
@* @section Scripts {
<script>
   $(document).ready(function(){
       $('.slider_area').owlCarousel({
           items: 1,
           loop: true,
           autoplay: true,
           autoplayTimeout: 5000, // 5 seconds
           autoplayHoverPause: true,
           nav: true,
           dots: false
       });
   });
</script>
}
*@
