@using OnlineShop.Models;
@model IEnumerable<Products>
@{
    ViewData["Title"] = "Index";
}

<br />
<br />
<br />
<br />
<br />
<br />

<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-8">
        <form method="post">
            <div class="col-lg-6">
                <input class="form-control " name="SearchString"  type="search" placeholder="Search" aria-label="Search">
            </div>
            <div class="col-lg-2">
                <button class="btn btn-success"  type="submit">Search</button>
            </div>   
        </form>
    </div>
   
    <br />
    </div>

<div class="row">

    <br />
    <div class="col-lg-12">
        <form method="post">
            <div calss="row">
                <h4>Product Filter with Range </h4>
                <br />
                <div class="col-lg-3">
                    <input type="number" class="form-control" name="lowAmount" placeholder="Low Amount" />
                </div>
                <div class="col-lg-3">
                    <input type="number" class="form-control" name="largeAmount" placeholder="Large Amount" />
                </div>
                <div class="col-lg-2">
                    <button type="submit" class="btn btn-success">Search</button>
                </div>
                <div class="col-lg-2"></div>
                <div class="col-lg-2">
                    <a asp-action="Create" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp; Add New Product</a>
                </div>
            </div>
          
        </form>
    </div>
    <div class="col-lg-4">  </div>
</div>



<br />
<div>
    <table class=" display table table-striped border" id="myTable">
        <thead>
            <tr class="table-info">
                <th>
                    @Html.DisplayNameFor(c => c.Image)
                </th>

                <th>
                    @Html.DisplayNameFor(c => c.Name)
                </th>


                <th>
                    @Html.DisplayNameFor(c => c.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(c => c.ProductColor)
                </th>
                <th>
                    @Html.DisplayNameFor(c => c.IsAvailable)
                </th>
                <th>
                    @Html.DisplayNameFor(c => c.ProductTypeId)
                </th>
               @*  <th>
                    @Html.DisplayNameFor(c => c.SpecialTagId)
                </th> *@
                <th>
                    @Html.DisplayNameFor(c => c.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(c => c.Quantity)
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td><img src="~/@item.Image" style="max-width: 50px; max-height: 50px;" /></td>
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                    <td>@item.ProductColor</td>
                    <td>@item.IsAvailable</td>
                    <td>@item.ProductTypes.ProductType</td>
                 
                    <td>@item.Description</td>
                    <td>@item.Quantity</td>
                    <td>
                        <partial name="_ButtonPartial" model="@item.Id" />
                    </td>
                </tr>
            }
        </tbody>


    </table>
</div>

<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>

@section scripts{
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/alertify.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.1/css/dataTables.dataTables.css" />

    <script src="https://cdn.datatables.net/2.0.1/js/dataTables.js"></script>


    <script type="text/javascript">

   
        $(document).ready(function () {
                $('#myTable').DataTable({
            //         dom: 'Bfrtip',
            //         buttons: [
            //             'pageLength', 'copy', 'csv', 'excel', 'pdf', 'print'
            //         ]

             });
       
        $(function () {
            var save = '@TempData["save"]'
            if (save != '') {
                alertify.success(save);
            }
            var edit = '@TempData["edit"]'
            if (edit != '') {
                alertify.success(edit);
            }
            var del = '@TempData["delete"]'
            if (del != '') {
                alertify.error(del);
            }
        })
    </script>
}



